@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: poppins;
}

section {
    padding: 1.5rem 0;    
}

header, main {
    min-width: 350px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

nav {
    background: #f1f1f1;
    width: 80%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 80%;    
}

a:link,
a:visited {
    color: black;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 1.2rem;
    font-size: 1.2rem;
    text-align: center;
}

.nav-links li:hover {
    background-color: #FFDD4A;
}

.nav-links li a {
    text-decoration: none;
}

.illustration {
    display: block;
    width: 50%;
    height: auto;
    margin: 1.5rem auto;
    max-width: 500px;
}

h1 {
    color: #A38D2F;
    text-transform: uppercase;
    font-size: 1.8rem;
    display: block;
    width: 80%;
    line-height: 2.5;
    text-align: center;
    font-weight: 350;
    margin: 0 auto;
    border: 1px solid #FFDD4A;
    padding: 0.5em 1em;
    font-weight: bold;
    max-width: 500px;
}

button {
    padding: 0.8em 3em;
    margin: 1.5rem auto;
    display: block;
    background-color: #2B2EF0;
    color: #fff;
    border-radius: 0.2rem;
    font-size: 0.9rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;   ;
    text-align: center;
    margin: 1.5rem 0;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.services img {
    width: 145px;
    height: auto;
    padding: 2rem 3rem;    
}
.services p, projects p {
    font-size: 0.8rem;
    margin-left: 3rem;
}
.square {
    width:100px;
    height: 100px;
    background-color: #FFDD4A;
    display: block;  
    margin: 2rem; 
}
#services {
    width: 80%;
    margin: 0 auto;
}
#projects {
    margin: 0 auto;
    width: 80%;      
}
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:center;
    background-color: #4849A3;
    padding: 8em 0em;
    width: 25rem;
    margin-bottom: 12rem;
    color: #fff;
    text-align: center;
}
#contact-us {
    margin-bottom: -25%;
    margin-inline: auto;
}

#contact-us h2 {
    margin-bottom: 4rem;
}

h3, .contact p {
    padding: 1rem;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;   
    letter-spacing: 0.5rem;
}
footer {
    background-color: #2B2EF0;
    color: #fff;
    width: 100%;
    padding: 6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
.copyright {
    margin: 4rem 0;    
}
.copyright img{    
    width: 1rem;
    position: relative; 
    top: 0.9rem;
    right: 1.5rem;
}
.developer-contact {
    padding: 2rem 0;
}
 @media only screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: center; 
        align-items: flex-start;
        position: relative;
    }

    .logo {
        width: 330px;
        margin: 0;
        padding: 0;
        position: relative;
        float: left;
    }

    .nav-links {
        display: flex;
    }

    nav {
        position: relative;
        left: 30%;
        bottom: 5rem;
        width: 100%;
        background: unset;
        margin-top: 1.5rem;
    }
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .developer-contact {
        padding: 1em 0;
    }

} 